
*{ margin: 0px;
    padding: 0;
    box-sizing: border-box;

}
body{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}
.shopcategory{
    width: 100%;
    position: relative;
    margin-top: 5%; 
    margin-bottom: 100px;
    box-sizing: border-box;
}
.beg{
    margin: 0 30px;}
.shopcategory-sort{
    border: 1px solid #40BFFF;
    height: 40px;
    width: 125px;
    margin-left: 1050px;
    border-radius: 40px;
    text-align: center;
    
}
.shopbanner{
    margin-top: 20px;
    margin-left: 250px;
}
.shopbanner img{
width: 80%;
height: 15%;
border-radius: 10px;
}
.shopcategory-sort img{
    width:25px;
    height: 20px;
    margin-top: 0px;
  
}
.shopcategory-product{
   margin-left: -22px;
    margin-top: 50px ;
    display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
       overflow-x: hidden;
        row-gap: 15px;  
        text-align: center;
}
.shopcategory-load{
display: flex;
justify-content: center;
align-items: center;
width: 180px;
height: 40px;
border-radius: 20px;
background-color: #40BFFF;
color: white;
font-size: 18px;
font-weight: 500;
margin: 90px auto;
}
.shopcategory-load a{
    text-decoration: none;
    color: white;
}